/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap') * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Nunito', sans-serif;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

ul {
    list-style: none;
}

#active {
    color: black;
    background-color: rgb(224, 149, 10);
    font-weight: bold;
    border-radius: 10px;
    margin-right: 5px;
    background-color: rgb(256, 217, 0);
}

section {
    padding: 2rem 9%;
}

section:nth-child(odd) {
    background: #eee;
}


.navbar .getstarted {
    background: #106eea;
    margin-left: 30px;
    border-radius: 4px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    padding: .5rem 1rem;
    line-height: 2.3;
}

.navbar-nav a {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-light .navbar-brand {
    color: #000;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #000;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(256, 217, 0);
    border-radius: 10px;
    font-weight: bold;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
}

/* Navbar  */
/* .navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
} */

/* 
.logo img {
    width: 20%;
} */

/* .nav-links {
    display: flex;
    align-items: center;
    margin-right: 300px;
}

.nav-links li {
    margin: 0 30px;
} */

header {
    width: 100vw;
    height: 100vh;
    /* background-image: url('Pictures/20220108_151858.jpg'); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/roof-reparing.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.header-content {
    margin-bottom: 30px;
    color: whitesmoke;
    text-align: center;
}

.header-content h1 {
    font-size: 7vmin;
}

.Hline {
    width: 300px;
    height: 4px;
    background: rgb(256, 217, 0);
    margin: 5px auto;
    border-radius: 5px;
    margin-bottom: 70px;
}

.header-footer p {
    font-size: 3vmin;
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 15px;
    /* background: #fc036b; */
    text-align: center;
    border-radius: 25px;
    border: 2px solid rgb(256, 217, 0);
    color: whitesmoke;
    font-weight: bold;
    background: transparent;
    position: relative;
    left: 0;
    bottom: 0;
    font-weight: bold;
}

.btn-primary {
    color: black;
    display: block;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.btn:hover {
    color: black;
    background-color: rgb(256, 217, 0);
    letter-spacing: .1rem;
    border: 2px solid whitesmoke;
    font-weight: bolder;

}

/* services section starts */
.services .heading h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 7vmin;
}

.line2 {
    width: 300px;
    height: 4px;
    background: rgb(256, 217, 0);
    ;
    margin: 5px auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.services {
    background-color: rgb(53, 10, 10);
    justify-content: center;
    align-items: center;
}

.ending h1 {
    color: whitesmoke;
    font-size: 7vmin;
    margin-top: 20px;
    text-align: center;
    line-height: 55px;
}

.ending p {
    color: whitesmoke;
    width: 70%;
    text-align: center;
    margin: 30px auto;
}

.ending a {
    color: whitesmoke;
    border-color: whitesmoke;
    padding: 5px 10px;
}

.services .paragraph p {
    width: 70%;
    text-align: justify;
    margin: 0 auto;
}

.services .btn {
    justify-content: center;
    align-items: center;
}

.services2 {
    display: flex;
    margin: 0 auto;

}

.services2 .image img {
    width: 80%;
    border: 4px solid rgb(224, 149, 10);
    ;
    border-radius: 20px;
}

.services2 .image {
    width: 90%;
}

.services2 .content {
    display: flex;
    flex-direction: column;
}

.services2 .content i {
    color: rgb(224, 149, 10);
    ;
    font-size: 30px;

}

.services2 .content {
    text-align: justify;
}

.services3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.services3 .image img {
    width: 60%;
    border: 4px solid rgb(224, 149, 10);
    ;
    border-radius: 20px;
}

.services3 .image {
    width: 40%;
}

.services3 .content i {
    color: rgb(224, 149, 10);
    ;
    font-size: 30px;
}

.services3 .content {
    width: 50%;
    text-align: justify;
}

.title {
    font-size: 5vmin;
    color: rgb(224, 149, 10);
    ;
}

.services4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.services4 .image {
    width: 80%;

}

.services4 .image img {
    width: 60%;
    border: 4px solid rgb(224, 149, 10);
    ;
    border-radius: 20px;
}

.services4 .content i {
    color: rgb(224, 149, 10);
    ;
    font-size: 30px;
}

.services4 .content {
    width: 80%;
    text-align: justify;
}

.services5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.services5 .image img {
    width: 80%;
    border: 4px solid rgb(224, 149, 10);
    ;
    border-radius: 20px;
}

.services5 .image {
    width: 40%;
}

.services5 .content i {
    color: rgb(224, 149, 10);
    ;
    font-size: 30px;
}

.services5 .content {
    width: 50%;
    text-align: justify;
}

.footer {
    background-color: #965500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.7vmin;
}

.footer .image img {
    width: 50%;
}

.footer .image {
    width: 30%;
    align-items: center;
}

.footer .address {
    width: 30%;
    text-align: center;
}

.footer .service-area {
    width: 30%;
    text-align: center;
}

.contact {
    color: rgb(255, 0, 0);
    font-size: 1em;
}
.service-area a{
    text-decoration: none;

}

.content-link {
    color: black;
    cursor: pointer;
}

.content-link:hover {
    color: red;
    text-decoration: underline;
    transition: none;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
}

i.fa-solid.fa-phone {
    font-size: 40px;
    padding-right: 6px;
    color: black;
}

.footer {
    padding: 1%;
    margin: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* .navbar {
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 15px;
        left: 15px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 20vh;
        justify-content: center;
        margin-right: 0;
        margin-left: 180px;
    }

    .nav-links li {
        margin: 30px auto;
    } */
    .services2 {
        flex-direction: column;
        margin: 0 auto;

    }

    .services2 .image img {
        width: 100%;

        border-radius: 20px;
        margin-top: 20px;
    }

    .services2 .image {
        width: 100%;
    }

    .services3 .image img {
        width: 100%;

        border-radius: 20px;
        margin-top: 20px;
    }

    .services3 .image {
        width: 100%;
    }

    .services3 {
        flex-direction: column;
        margin: 0 auto;

    }

    .services4 .image img {
        width: 100%;

        border-radius: 20px;
        margin-bottom: 20px;
    }

    .services4 .image {
        width: 100%;
    }

    .services4 {
        flex-direction: column;
        margin: 0 auto;

    }

    .services5 .image img {
        width: 100%;

        border-radius: 20px;
        margin: 19px auto 0;

    }

    .services5 .image {
        width: 100%;
    }

    .services5 {
        flex-direction: column;
        margin: 0 auto;

    }

    .services5 .content {
        width: 100%;
        text-align: justify;
    }

    .services4 .content {
        width: 100%;
        text-align: justify;
    }

    .services3 .content {
        width: 100%;
        text-align: justify;
    }

    .services2 .content {
        width: 100%;
        text-align: justify;
    }

    .services .paragraph p {
        width: 100%;
        text-align: justify;
    }

    .ending p {
        width: 100%;
        text-align: justify;
    }

    .navbar-nav a {
        font-size: 15px;
    }

    .navbar-light .navbar-brand {

        font-size: 25px;
    }
}

@media only screen and (max-width: 767px) {

    /* .nav-links {
        flex-direction: column;
        width: 100%;
        height: 15vh;
        justify-content: center;
        background-color: #484872;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30% ;
    }

    .nav-links li {
        margin: 30px auto;
    }

    .nav-links li a {
        font-size: 12px;
    }
    .navbar-nav { */
    /* text-align: center;
	} */
    .navbar-nav {
        text-align: center;
    }

    .sevices .paragraph p {
        width: 100%;
    }

    .services2 {
        flex-direction: column;
        margin: 0 auto;

    }

    .services2 .image img {
        width: 100%;

        border-radius: 20px;
        margin-top: 20px;
    }

    .services2 .image {
        width: 100%;
    }

    .services3 .image img {
        width: 100%;

        border-radius: 20px;
        margin-top: 20px;
    }

    .services3 .image {
        width: 100%;
    }

    .services3 {
        flex-direction: column;
        margin: 0 auto;

    }

    .services4 .image img {
        width: 100%;

        border-radius: 20px;
        margin-bottom: 20px;
    }

    .services4 .image {
        width: 100%;
    }

    .services4 {
        flex-direction: column;
        margin: 0 auto;

    }

    .services5 .image img {
        width: 100%;

        border-radius: 20px;
        margin: 19px auto 0;

    }

    .services5 .image {
        width: 100%;
    }

    .services5 {
        flex-direction: column;
        margin: 0 auto;

    }

    .services5 .content {
        width: 100%;
        text-align: justify;
    }

    .services4 .content {
        width: 100%;
        text-align: justify;
    }

    .services3 .content {
        width: 100%;
        text-align: justify;
    }

    .services2 .content {
        width: 100%;
        text-align: justify;
    }

    .paragraph p {
        width: 100%;
        font-size: smaller;
        text-align: justify;
    }

    .ending p {
        width: 100%;
        text-align: justify;
        font-size: smaller;
    }

    h1 {
        font-weight: bolder
    }

    i.fa-solid.fa-phone {
        font-size: 40px;
        padding-left: 39px;
        color: black;
    }

    .footer .service-area {
        width: 60%;
    }

    .footer .image {
        width: 50%;
        margin-bottom: 10px;
    }

    .footer {
        flex-direction: column;
        width: 100%;

    }

    .footer .address {
        padding-bottom: 10px;
    }

    .footer span {
        font-size: 20px;
        width: 100%;
    }

    .service-area .contact {
        font-size: 25px;
        font-weight: bolder;
    }

    .footer {
        width: 100%;
        height: 2%;
    }
    .navbar-nav a {
        font-size: 15px;
    }
    
    .navbar-light .navbar-brand {
       
        font-size: 20px;
    }
    i.fa-solid.fa-phone {
        font-size: 25px;
    }
}